clustername/takeover-files/bin/clusterawsadm filter=lfs diff=lfs merge=lfs -text
clustername/takeover-files/bin/palettectl-arm64 filter=lfs diff=lfs merge=lfs -text
clustername/takeover-files/bin/palettectl-i386 filter=lfs diff=lfs merge=lfs -text
